extends ../layout

block content
	if photo
		.row.imageContainer
			.col-xs-7.photoDisplay
				h1= photo.caption
				p: a(href=photo.imageUrl, target=_blank)
					img.mainImage(src=photo.imageUrl)
				a.btn.btn-primary.btn-sm(href=`${photo.id}/update`) Edit
				a.btn.btn-primary.btn-sm(href=`${photo.id}/delete`) Delete Photo
	else
		h2 Not Found
		p That photo does not exist.
